/*********************
FONTS
*********************/
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@font-face {
  font-family: 'cotta';
  src: url('resources/cotta.woff2') format('woff2'),
       url('resources/cotta.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

$font-family-main:'Inter', sans-serif;
$font-family-heading:'cotta', sans-serif;

$text-xxl: clamp(33px, calc(33px + (80 - 33) * ((100vw - 390px) / (1920 - 390))), 80px);
$text-xl: clamp(26px, calc(26px + (60 - 26) * ((100vw - 390px) / (1920 - 390))), 60px);
$text-lg: clamp(22px, calc(22px + (42 - 22) * ((100vw - 390px) / (1920 - 390))), 42px);
$text-md: clamp(19px, calc(19px + (30 - 19) * ((100vw - 390px) / (1920 - 390))), 30px);
$text-base: clamp(17px, calc(17px + (25 - 17) * ((100vw - 390px) / (1920 - 390))), 25px);
$text-sm: clamp(14px, calc(14px + (18 - 14) * ((100vw - 390px) / (1920 - 390))), 18px);
$text-xs: clamp(12px, calc(12px + (14 - 12) * ((100vw - 390px) / (1920 - 390))), 14px);


/*********************
BREAKPOINTS
*********************/

@mixin breakpoint($point) {
    @if $point == sm {
      @media (min-width: 544px) { @content ; } // iphone X og ned
   }
     @else if $point == md {
      @media (min-width: 850px) { @content ; } // iPad og ned
   }
   @else if $point == lg {
    @media (min-width: 1024px) { @content ; } 
    }
    @else if $point == xl {
    @media (min-width: 1400px) { @content ; } 
    }
    @else if $point == xxl {
      @media (min-width: 1920px) { @content ; } 
    }
    @else if $point == xxxl {
      @media (min-width: 2200px) { @content ; } 
    }
 }



 /*********************
H-tags
*********************/

h1 {
  font-size: $text-xxl;
  font-weight: 400;
  margin: 10px 0;
  font-family: $font-family-heading;

  @include breakpoint(lg) {
    margin: 20px 0;
  }
}

h2 {
  font-size: $text-md;
  font-weight: 400;
  margin: 10px 0;
  font-family: $font-family-main;

  @include breakpoint(lg) {
    margin: 20px 0;

  }
}




* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}



body {
  background-color: #F4F2EF;
  font-family: $font-family-main;
  transition: background .6s ease-in-out;

  &.special {
    background-color: #283A27;
  }

  a {
    color: black;
  }
}

h1 {
  font-family: 'cotta', sans-serif;
}


.header-wrapper {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: 20vh auto;
  position: relative;


  .content {
    max-width: 700px;
  }

  .a1 {
    position: absolute;
    right: 76vw;
    top: -5vh;
    filter: blur(5px);

    img {
      width: 120px;
    }
  }
  .a2 {
    position: absolute;
    left: 75vw;

    img {
      width: 220px;
    }
  }
  .a3 {
    position: absolute;
    left: 75vw;
    top: 120vh;
    filter: blur(5px);
    
    img {
      width: 90px;
    }
  }
}

.product-wrapper {
  width: 100%;
  margin: 20vh auto;
  display: grid;
  justify-content: center;
  position: relative;
  transition: .6s all;

  .i1 {
    position: absolute;
    left: 45%;
    top: 0;
    z-index: 10;
  }

  .i2 {
    position: absolute;
    left: 30%;
    top: 50%;
    z-index: 10;
  }

  .i3 {
    position: absolute;
    left: 45%;
    top: 90%;
    z-index: 10;
  }


.glass {
  padding: 40px;
  border: 1px solid #c7d8c7;
  backdrop-filter: blur(10px);
  background: rgba(255, 255, 255, 0.1);
  border-radius: 12px;
  border: 1px solid rgba(255, 255, 255, 0.2);
}

}


.info-section-wrapper {
  color: white;
  transition: .6s all;

  .highlights {
    max-width: 1200px;
    margin: auto;
    padding: 0 16px;
    display: grid;
    gap: 10vh;
    opacity: 0;
    transition: .6s all;

    .highlight {
      display: grid;
      grid-template-columns: 1fr;
      gap: 20px;
      align-items: center;
  
      @include breakpoint(md) {
        grid-template-columns: 1fr 1fr;
      }

      &.reverse {
        direction: rtl;
        text-align: left;
      }
    }
  }


  .feedback {
    display: grid;
    grid-template-columns: 1fr;
    max-width: 1200px;
    margin: 20vh auto;
    gap: 12px;

    @include breakpoint(md) {
      grid-template-columns: 1fr 1fr 1fr;
    }

    .person {
      background-color: #1D2C1D;
      padding: 12px 24px;
      border-radius: 12px;
    }
  }

}

.nav-wrapper {
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 12;

  .nav-content {
    max-width: 1400px;
    margin: auto;
    padding: 12px 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .logo {
      font-family: $font-family-heading;
      font-size: 40px;
    }
    .links {
      font-size: $text-md;
      gap: 40px;
      display: flex;
      color: black;
    }
  }
  &.light {
    color: white;
    a {
      color: white;
    }
  }
}

// Gradient i topp
.top-gradient-1 {
  position: fixed;
  height: 60px;
  width: 100%;
  top: 0;
  left: 50%;
  opacity: 1;
  z-index: 11;
  transform: translate(-50%, 0%);
  background: linear-gradient(#F4F2EF 0%, #ffffff00 100%);
  transition: .6s all;

  @include breakpoint(md) {
    height: 80px;
  }
}

.top-gradient-2 {
  position: fixed;
  height: 60px;
  width: 100%;
  top: 0;
  left: 50%;
  z-index: 11;
  transform: translate(-50%, 0%);
  background: linear-gradient(#283A27 0%, #ffffff00 100%);
  transition: .6s all;
  opacity: 0;

  @include breakpoint(md) {
    height: 80px;
  }
}



.product-summary {
  transition: .6s all;
  max-width: 1200px;
  margin: auto;
  color: white;

  img {
    width: 500px;
  }
}


.footer {
  height: 70vh;
  color: white;
  align-items: center;
  justify-content: center;
  display: grid;
  width: 100%;
  text-align: center;

}


.show {
  opacity: 1 !important;
}
.hide {
  opacity: 0 !important;
}
img {
  width: 100%;
}